/*************
COLORS
**************/
$off-white: #f7f8f8;
$grey-light: #a2a5a3;
$grey-dark: #686a69;
$green-light: #3d9f53;
$green-dark: #195834;
$blue-light: #a2bbdb;
$blue-dark: #1d4fc8;
$off-purple: #8d88aa;
$pink: #f0447a;
$orange: #ff7733;
$dark-off-white: darken($off-white, 10%);
$icon-color: lighten($grey-light, 5%);