.user-profile {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  padding: .4rem 1.5rem;
  border: 0.01rem solid darken($off-white, 10%);
  font-weight: 700;


  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    background-color: $blue-light;
    border-radius: 100%;
    border: 0.2rem solid $grey-light;
  }

  &__username {
    margin-left: 1.5rem;
    margin-right: .3rem;
  }

}

.dropdown {
  height: 1.5rem;
  width: 1.5rem;
}