.small-heading {
  font-size: 1.4rem;
  color: $blue-dark;
  text-transform: uppercase;
  font-weight: 700;

  &--gray {
    color: $grey-dark;
  }
}


.tiny-heading {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $dark-text-color;

  &--light {
    color: $grey-light;
  }

  &--date {
    color: $blue-dark;
    text-transform: capitalize;
  }

  &--right {
    text-align: right;
  }
}

.overview__text {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 700;
  
  &--light {
    color: $grey-light;
  }
}


